* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style Guide CSS Variables */
:root {
  /* Colors - Neutral */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Colors - Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Colors - Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  /* Typography */
  --font-family-primary: "DM Sans", sans-serif;
  --font-family-secondary: "Bricolage Grotesque", sans-serif;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-body: 18px;

  /* Border-Radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.25rem;
}

/* Base styles using the variables */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

input {
  padding: 1em 2em;
  border-radius: var(--border-radius-md);
  border: none;
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

/* Utility Classes */
.container {
  width: 90%;
  max-width: 1216px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: var(--border-radius-md);
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  padding: 1.25rem;
}

.section-title {
  margin-bottom: 1.25rem;
}

/* Header */
header {
  padding: 2rem 0;
}

.logo {
  width: auto;
  height: clamp(1.75rem, 1.0344rem + 3.0534vw, 2.5rem);

  img {
    height: 100%;
  }
}

.dropdown-button {
  background-color: var(--neutral-700);
  border-radius: var(--border-radius-md);
  padding: 0.5em 1em;
}

.dropdown-menu {
  display: none;
}

/* HERO */
h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.25rem;
  line-height: 120%;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: clamp(3rem, 1.2857rem + 3.5714vw, 4rem);
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  input {
    flex-grow: 1;
    background-color: var(--neutral-800);
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 120%;
    &::placeholder {
      color: var(--neutral-200);
    }
  }
}

.search-button {
  background-color: var(--blue-500);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;

  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

@media (min-width: 48rem) {
  .search-bar {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 48rem) {
  .search-bar input {
    max-width: 32.875rem;
  }
}

/* Current Weather */
.weather-info {
  background-image: url("assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 17.875rem;

  border-radius: var(--border-radius-lg);
  padding: 1.5rem;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  margin-bottom: 1.25rem;
}

.text {
  grid-column: 1 / -1;
}

.weather-icon {
  max-height: 7.5rem;
  max-width: 7.5rem;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

@media (min-width: 48rem) {
  .weather-info {
    background-image: url("assets/images/bg-today-large.svg");
    grid-template-columns: 1fr auto auto;
    justify-items: start;
  }

  .text {
    grid-column: 1;
  }
}

/* Daily Forecast */
.forecast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  text-align: center;

  .card {
    padding: 1rem 0.625rem;
  }
}

@media (min-width: 48rem) {
  .forecast-cards {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
