* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Style Guide CSS Variables */
:root {
  /* Colors - Neutral */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-0-light: hsla(0, 0%, 100%, 0.8);

  /* Colors - Orange */
  --orange-500: hsl(28, 100%, 52%);

  /* Colors - Blue */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  /* Typography */
  --font-family-primary: "DM Sans", sans-serif;
  --font-family-secondary: "Bricolage Grotesque", sans-serif;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-body: 18px;

  /* Border-Radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1.25rem;

  --focus-box-shadow: 0 0 0 3px var(--neutral-900), 0 0 0 5px var(--neutral-0);
}

/* Typography */

.textpreset1 {
  font-size: 6rem; /* 96px ÷ 16 = 6rem */
  font-weight: var(--font-weight-semibold);
  line-height: 100%;
  font-style: italic;
  letter-spacing: -2px;
}

.textpreset2 {
  font-size: 3.25rem; /* 52px ÷ 16 = 3.25rem */
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
  line-height: 120%;
}

.textpreset3 {
  font-size: 2rem; /* 32px ÷ 16 = 2rem */
  font-weight: var(--font-weight-light);
  line-height: 100%;
}

.textpreset4 {
  font-size: 1.75rem; /* 28px ÷ 16 = 1.75rem */
  font-weight: var(--font-weight-bold);
  line-height: 120%;
}

.textpreset5 {
  font-size: 1.25rem; /* 20px ÷ 16 = 1.25rem */
  font-weight: var(--font-weight-semibold);
  line-height: 120%;
}

.textpreset5medium {
  font-size: 1.25rem; /* 20px ÷ 16 = 1.25rem */
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

.textpreset6 {
  font-size: 1.125rem; /* 18px ÷ 16 = 1.125rem */
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

.textpreset7 {
  font-size: 1rem; /* 16px ÷ 16 = 1rem */
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

.textpreset8 {
  font-size: 0.875rem; /* 14px ÷ 16 = 0.875rem */
  font-weight: var(--font-weight-medium);
  line-height: 120%;
}

/* Base styles */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
}

main {
  padding: clamp(3rem, 2.5541rem + 1.9025vw, 4rem) 0;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

input {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-md);
  border: none;
  font: inherit;
  color: inherit;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 0.2857rem + 3.5714vw, 3rem);
}

/* Utility Classes */
.container {
  width: 90%;
  max-width: 1216px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: var(--border-radius-md);
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  padding: 1.25rem;
}

.section-title {
  margin-bottom: 1.25rem;
}

/* Header */
header {
  padding: clamp(1rem, 0.1082rem + 3.805vw, 3rem) 0 0;
}

.logo {
  width: auto;
  height: clamp(1.75rem, 1.0344rem + 3.0534vw, 2.5rem);

  img {
    height: 100%;
  }
}

.dropdown-button {
  background-color: var(--neutral-800);
  border-radius: var(--border-radius-sm);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  &:hover,
  &:focus {
    background-color: var(--neutral-700);
  }

  &:focus {
    box-shadow: var(--focus-box-shadow);
  }
}

.hourly-header .dropdown-button {
  background-color: var(--neutral-700);
}

.dropdown-button::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 0.625rem;
  background: transparent;
  z-index: 1;
}

.dropdown {
  position: relative;
  z-index: 1000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 0.625rem);
  padding: 0.5rem;
  min-width: 13.375rem;
}

.dropdown-button:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-search {
  position: absolute;
  top: calc(100% + 0.625rem);
  left: 0;
  width: 100%;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
  border-radius: var(--border-radius-md);
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 1000;

  &.visible {
    display: flex;
  }
}

.search-item {
  padding: 0.625rem 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--neutral-700);
    border-color: var(--neutral-600);
  }
}

.switch-units-button,
.units-button,
.day-button {
  background: transparent;
  border: none;
  padding: 0.625rem 0.5rem;
  text-align: start;
  border-radius: 0.5rem;
}

.switch-units-button {
  width: 100%;

  &:focus {
    box-shadow: var(--focus-box-shadow);
  }
}

.switch-units-button:hover,
.units-button:hover {
  background-color: var(--neutral-700);
}

.units-button.selected {
  background-color: var(--neutral-700);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0.5rem;
    background: url("assets/images/icon-checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 17px;
    height: 17px;
  }
}

.dropdown-section {
  border-bottom: 1px solid var(--neutral-600);
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &:last-child {
    border-bottom: none;
  }
}

.dropdown-section-title {
  color: var(--neutral-300);
  margin: 0.25rem 0;
}

.day-button {
  width: 100%;
}

.dropdown-option.selected .day-button,
.day-button:hover {
  background-color: var(--neutral-700);
}

/* HERO */
h1 {
  text-align: center;
  margin-bottom: clamp(3rem, 1.2857rem + 3.5714vw, 4rem);
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;

  .input-container {
    flex-grow: 1;
    position: relative;
    display: flex;
  }

  input {
    flex-grow: 1;
    background-color: var(--neutral-800);
    padding-left: 4rem; /* make room for icon */
    cursor: pointer;
    &::placeholder {
      color: var(--neutral-200);
    }

    &:hover {
      background-color: var(--neutral-700);
    }

    &:focus,
    &:active {
      background-color: (var(--neutral-700));
      box-shadow: var(--focus-box-shadow);
      outline: none;
      border: none;
    }
  }

  .search-icon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicking through to input */
  }
}

.search-button {
  background-color: var(--blue-500);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;

  &:hover {
    background-color: var(--blue-700);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--neutral-900), 0 0 0 5px var(--blue-500);
  }
}

/* Current Weather */
.weather-info {
  background-image: url("assets/images/mobile-hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  min-height: 18rem;

  border-radius: var(--border-radius-lg);
  padding: 1.5rem;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  margin-bottom: clamp(1.25rem, -0.0357rem + 2.6786vw, 2rem);
}

.weather-info.loading {
  display: block;
  place-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.text {
  grid-column: 1 / -1;
}

.date {
  color: var(--neutral-0-light);
}

.weather-icon {
  max-height: 7.5rem;
  max-width: 7.5rem;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: clamp(1rem, 0.7771rem + 0.9512vw, 1.5rem);

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.weather-info {
  position: relative;
}

.save-location-button {
  font: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: inherit;

  border-radius: 0.75rem;
  padding: 1rem 1.5rem;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.25rem;

  &:hover {
    color: var(--orange-500);
  }
}

.forecast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  text-align: center;

  .card {
    flex-grow: 1;
    padding: 1rem 0.625rem;
  }
}

/* Hourly Forecasts */
.hourly-forecast-card {
  position: relative;
  border: none;
  scrollbar-color: var(--neutral-700) var(--neutral-800);
  scrollbar-width: thin;
  padding-top: 0;
}

.hourly-header {
  position: sticky;
  top: 0;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  background-color: inherit;
  .section-title {
    margin-bottom: 0;
  }
}

.hourly-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hour-card {
  padding: 0.5625rem 1rem 0.5625rem 0.75rem;
  background-color: var(--neutral-700);
  min-height: 3.75rem;

  .weather-icon {
    width: auto;
    height: 2.5rem;
    img {
      height: 100%;
    }
  }

  span.temp {
    margin-left: auto;
  }
}

.no-results {
  p {
    text-align: center;
  }
}

.api-error {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .error-img {
    height: 3.125rem;
    width: 2.625rem;
  }

  h1 {
    margin-bottom: 0;
  }

  p {
    text-align: center;
    color: var(--neutral-200);
    max-width: 50ch;
  }

  .retry-img {
    height: 1rem;
    width: 1rem;
  }
}

body.light {
  /* TODO: SWITCH UP BG IMAGES ON WEATHER-INFO */
  --neutral-900: hsl(0, 0%, 98%);
  --neutral-800: hsl(235, 32%, 92%);
  --neutral-700: hsl(233, 11%, 84%);
  --neutral-600: hsl(233, 23%, 74%);
  --neutral-300: hsl(243, 23%, 24%);
  --neutral-200: hsl(243, 27%, 20%);
  --neutral-0: hsl(243, 96%, 9%);

  .logo path.text,
  .dropdown-button svg path,
  .search-icon path {
    fill: var(--neutral-0);
  }

  .search-button {
    color: var(--neutral-900);
  }

  .weather-info {
    color: var(--neutral-900);
  }
}

.dark-mode-toggle {
  background-color: transparent;
  max-width: 3rem;
  height: auto;

  margin-left: auto;
  margin-right: 2rem;
}

@media (min-width: 48rem) {
  .search-bar {
    flex-direction: row;
    gap: 1rem;
  }

  .search-bar .input-container {
    max-width: 32.875rem;
  }

  .forecast-cards {
    display: flex;
    justify-content: space-between;
  }

  .weather-info {
    grid-template-columns: 1fr auto auto;
    justify-items: start;
    text-align: start;
  }

  .weather-info {
    background-image: url("assets/images/desktop-hero-bg.svg");
  }

  .text {
    grid-column: 1;
  }

  .save-location-button {
    right: auto;
  }
}

@media (min-width: 64rem) {
  .main-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    width: 90%;
    max-width: 1216px;
    margin: 0 auto;
  }

  main .container {
    width: 100%;
    margin: 0;
  }

  .hero,
  .no-results,
  .api-error {
    grid-column: 1 / -1;
  }

  .current-weather,
  .daily-forecast {
    grid-column: 1;
  }

  .hourly-forecast {
    grid-column: 2;
    grid-row: 2 / span 2;

    height: 100%;
    .container {
      height: 100%;
    }
  }

  .daily-forecast {
    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .forecast-cards {
      flex-grow: 1;
    }
  }
  .forecast-cards > .card {
    height: 100%;
    flex-grow: 1;
  }

  .hourly-forecast-card {
    max-height: 53.5rem;
    overflow: scroll;
    overflow-x: hidden;
  }
}
